//VARIABLES

$titleColor: #e07dc0;
$mainFontFamily: "Brush Script MT";
$productLinkColor: rgb(1, 134, 196);
$paragraphColor: rgb(155, 151, 151);
$paragraphSize: 15px;
$titleSize: 30px;
$subtitleSize: 19px;
$dashedNavLineColor: rgb(190, 189, 189);
$heroBcgColor: rgba(226, 221, 221, 0.89);
$servicesBcgColor: rgb(245, 246, 247);
$servicesTitleColor: rgb(167, 162, 162);
$servicesIconColor: rgb(138, 214, 233);
$servicesIconSize: 55px;
$productsBcgColor: white;
$productBoxBorderColor: rgb(218, 218, 218);
$teamBcgLayer: rgba(12, 12, 12, 0.76);
$teamTextColor: white;
$TeamImgBorderColor: rgba(226, 216, 160, 0.658);
$skillsBcgColor: #e6ebeb;
$whoweareBcgColor: rgb(236, 234, 234);
$whoinnerColor: rgba(243, 243, 243, 0.63);
$whoDashedColor: rgb(218, 218, 218);
$specialOfferBcg: white;
$specialOfferBoxBcg: rgba(243, 243, 243, 0.63);
$specialPriceFontSize: 40px;
$specialTitleFontSize: 35px;
$specialIconFontSize: 55px;
$revImgBorderColor: rgb(238, 236, 236);
$revOuterDivBorderColor: white;
$revInnerDivColor: rgb(253, 253, 253);
$revTitleSize: 40px;
$revDotsColor: rgb(209, 206, 206);
$revActiveDotColor: rgb(44, 43, 43);
$contactDashedLineColor: rgb(197, 197, 197);
$contactInfoFontSize: 20px;
$contactBcgColor: rgb(245, 245, 245);

$mainTransition: all 0.3s linear;
/*
$contactCardBcgColor: radial-gradient(
  circle 1224px at 10.6% 8.8%,
  rgba(255, 255, 255, 1) 0%,
  rgba(153, 202, 251, 1) 100.2%
);
*/
//END OF VARIABLES
